*{
	margin: 0px;
	padding: 0px;
}
BODY {
	FONT-SIZE: 100%;
	FONT-FAMILY: "lucida console", verdana, tahoma;
	background-image: url(bg.gif);
}
#warp{
	background-image: url(bglogin.png);
	background-repeat: no-repeat;
	height: 285px;
	width: 490px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}
#login{
	margin-top: 50px;
	margin-right: 60px;
	float: right;
	font-size: 12px;
	font-weight: bold;
}
#copyright{
	font-size: 8pt;
	float: left;
	margin-top: 150px;
	margin-left: 25px;
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: tahoma
}
.font11 {
	FONT-SIZE: 10pt;
	FONT-FAMILY: tahoma;
}
P {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
DIV {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
SPAN {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
A {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
INPUT {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
SELECT {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
TEXTAREA {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
FORM {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
UL {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
OL {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
DL {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
LI {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H1 {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H2 {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H3 {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H4 {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H5 {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H6 {
	FONT-SIZE: 100%; FONT-FAMILY: tahoma
}
H1 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-FAMILY: tahoma
}
H2 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-FAMILY: tahoma
}
H3 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-FAMILY: tahoma
}
H4 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-FAMILY: tahoma
}
H5 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-FAMILY: tahoma
}
H6 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; FONT-FAMILY: tahoma
}
H1 {
	FONT-SIZE: 120%
}
H2 {
	FONT-SIZE: 120%
}
H3 {
	FONT-SIZE: 100%
}
H4 {
	FONT-SIZE: 100%
}
H5 {
	FONT-SIZE: 100%
}
H6 {
	FONT-SIZE: 100%
}
P {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; LINE-HEIGHT: 120%
}
UL {
	MARGIN-TOP: 10px; LIST-STYLE-IMAGE: url(img/dot_1.gif); MARGIN-BOTTOM: 20px
}
UL UL {
	MARGIN-TOP: 0px; LIST-STYLE-IMAGE: url(img/dot_2.gif); MARGIN-BOTTOM: 0px
}
UL UL UL {
	MARGIN-TOP: 0px; LIST-STYLE-IMAGE: url(img/dot_3.gif); MARGIN-BOTTOM: 0px
}
OL UL {
	MARGIN-TOP: 0px; LIST-STYLE-IMAGE: url(img/dot_2.gif); MARGIN-BOTTOM: 0px
}
OL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
OL OL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
UL OL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
LI {
	LINE-HEIGHT: 140%
}
DL {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
DT {
	LINE-HEIGHT: 120%
}
DD {
	LINE-HEIGHT: 120%
}
STRONG {
	FONT-WEIGHT: bold; FONT-FAMILY: tahoma
}
SMALL {
	FONT-SIZE: 80%; LINE-HEIGHT: 110%; FONT-FAMILY: tahoma
}
.body1 {
	MARGIN-TOP: 15px; FONT-SIZE: 84%; MARGIN-BOTTOM: 20px
}
.extra1 {
	MARGIN-TOP: 15px; FONT-SIZE: 84%; MARGIN-BOTTOM: 20px
}
.sectionTop {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
.section {
	MARGIN-TOP: 25px; FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px
}
.sectionIndent1 {
	FONT-WEIGHT: bold; MARGIN-BOTTOM: 5px; MARGIN-LEFT: 145px
}
.sectionSub {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 5px
}
.indent1 {
	MARGIN-LEFT: 145px
}
.indent2 {
	MARGIN-TOP: 3px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 40px
}
.vertical10x10 {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
.vertical5x20 {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 20px
}
.vertical20x5 {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 5px
}
.vertical20x10 {
	MARGIN-TOP: 20px; MARGIN-BOTTOM: 10px
}
.vertical10x0 {
	MARGIN-TOP: 10px
}
.horizontalCenter {
	TEXT-ALIGN: center
}
.horizontalRight {
	TEXT-ALIGN: right
}
.icon {
	MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.iconVerticalMiddle {
	VERTICAL-ALIGN: middle
}
.iconVertical5x5 {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 5px
}
.iconMarginRight5 {
	VERTICAL-ALIGN: middle; MARGIN-RIGHT: 5px
}
.iconMarginLeft5 {
	MARGIN-LEFT: 5px; VERTICAL-ALIGN: middle
}
.rotateRight {
	FLOAT: right
}
.rotateLeft {
	FLOAT: left
}
.brClear {
	CLEAR: both
}
.LeftMenu TD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 71%; PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-TOP: 3px; FONT-FAMILY: Arial, tahoma, sans-serif
}
TD.LeftMenuArea {
	BACKGROUND-IMAGE: url(imgs/bg_leftmenu.gif); BACKGROUND-REPEAT: repeat-y
}
TD.LeftMenuOn {
	BACKGROUND-COLOR: #ffffff
}
TD.bgLine {
	BACKGROUND-IMAGE: url(imgs/linebg.gif); BACKGROUND-REPEAT: repeat-x
}
TABLE.bgTitle {
	BACKGROUND: #999999
}
.lineHeight140 TD {
	LINE-HEIGHT: 140%
}
TD.sitemap {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.text90 TABLE {
	FONT-SIZE: 90%
}
.text80 {
	FONT-SIZE: 71%
}
STRONG.text90 {
	FONT-WEIGHT: bold; FONT-SIZE: 90%
}
.bodyHome TABLE {
	FONT-SIZE: 100%
}
.body1 TABLE {
	FONT-SIZE: 100%
}
.extra1 TABLE {
	FONT-SIZE: 84%
}
.important {
	COLOR: #ff0000
}
.notice {
	COLOR: #cc0000
}
.textGray666 {
	COLOR: #666666
}
.textWhite {
	COLOR: #ffffff
}
.textBlack {
	COLOR: #000000
}
.textBlue039 {
	COLOR: #003399
}
TD.White {
	BACKGROUND-COLOR: #ffffff
}
TD.Gray333 {
	BACKGROUND-COLOR: #333333
}
TD.Gray666 {
	BACKGROUND-COLOR: #666666
}
TD.Gray999 {
	BACKGROUND-COLOR: #999999
}
TD.GrayCCC {
	BACKGROUND-COLOR: #cccccc
}
TD.GrayDDD {
	BACKGROUND-COLOR: #dddddd
}
TD.GrayEEE {
	BACKGROUND-COLOR: #eeeeee
}
.Blue669 {
	BACKGROUND-COLOR: #666699
}
.Blue99C {
	BACKGROUND-COLOR: #9999cc
}
.BlueCCF {
	BACKGROUND-COLOR: #ccccff
}
.BlueDDF {
	BACKGROUND-COLOR: #ddddff
}
.BlueEEF {
	BACKGROUND-COLOR: #eeeeff
}
TD.Green693 {
	BACKGROUND-COLOR: #669933
}
TD.Green9C3 {
	BACKGROUND-COLOR: #99cc33
}
TD.GreenCF3 {
	BACKGROUND-COLOR: #ccff33
}
TD.GreenDF9 {
	BACKGROUND-COLOR: #ddff99
}
TD.GreenEFC {
	BACKGROUND-COLOR: #eeffcc
}
TD.PinkC66 {
	BACKGROUND-COLOR: #cc6666
}
TD.PinkF99 {
	BACKGROUND-COLOR: #ff9999
}
TD.PinkFCC {
	BACKGROUND-COLOR: #ffcccc
}
TD.PinkFDD {
	BACKGROUND-COLOR: #ffdddd
}
TD.PinkFEE {
	BACKGROUND-COLOR: #ffeeee
}
TD.OrangeC60 {
	BACKGROUND-COLOR: #cc6600
}
TD.OrangeF93 {
	BACKGROUND-COLOR: #ff9933
}
TD.OrangeFC6 {
	BACKGROUND-COLOR: #ffcc66
}
TD.OrangeFE9 {
	BACKGROUND-COLOR: #ffee99
}
TD.OrangeFFC {
	BACKGROUND-COLOR: #ffffcc
}
.newsDate {
	FONT-SIZE: 80%; LINE-HEIGHT: 110%; TEXT-ALIGN: right
}
.newsContact {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 40px
}
.headLine {
	MARGIN-TOP: 40px; MARGIN-BOTTOM: 20px; TEXT-ALIGN: center
}
.sectionNews {
	MARGIN-TOP: 30px; MARGIN-BOTTOM: 5px
}
.plusSign {
	FONT: 8px Tahoma, Arial, Helvetica, sans-serif; VERTICAL-ALIGN: top
}
.border0 {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
INPUT {
	BORDER-RIGHT: #9399ac 1px solid;
	BORDER-TOP: #9399ac 1px solid;
	BORDER-LEFT: #9399ac 1px solid;
	BORDER-BOTTOM: #9399ac 1px solid;
	font-size: 10pt;
	padding: 2px;
}
.button2 {
	BORDER-RIGHT: #9399ac 1px solid;
	BORDER-TOP: #9399ac 1px solid;
	FONT-SIZE: 8pt;
	BACKGROUND-IMAGE: url(imgs/bgbutton.gif);
	BORDER-LEFT: #9399ac 1px solid;
	BORDER-BOTTOM: #9399ac 1px solid;
	FONT-FAMILY: tahoma;
	font-weight: bold;
	padding: 3px;
}
