.menu2{
	margin:0px;
	padding:0px;
	font-size:10pt;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif, arial, tahoma;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-bottom-color: #117a90;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	}
.menu2 ul{
	height:30px;
	list-style:none;
	margin:0;
	padding:0;
	background-color: #16629;
	}
	.menu2 li{
		float:left;
		padding:0px;
		}
	.menu2 li a{
	display:block;
	line-height:30px;
	margin:0px;
	text-align:center;
	text-decoration:none;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	color: #000000;
	font-weight: bold;
		}
		.menu2 li a:hover, .menu2 ul li:hover a{
	color:#FFFFFF;
	text-decoration:none;
	background-color: #333333;
			}
	.menu2 li ul{
	display:none;
	height:auto;
	padding:0px;
	position:absolute;
	width:225px;
	z-index:200;
	background-color: #e16629;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #333333;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	border-bottom-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
		}
	.menu2 li:hover ul{
		display:block;
		}
	.menu2 li li {
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	background-repeat: no-repeat;
	background-position: left bottom;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
		}
	.menu2 li:hover li a{
		background:none;
		
		}
	.menu2 li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	text-align:left;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	font-weight: normal;
		}
		.menu2 li ul a:hover, .menu li ul li:hover a{
	border:0px;
	color:#ffffff;
	text-decoration:none;
	background-color: #333333;
	background-repeat: no-repeat;
	background-position: left center;
			}
	.menu2 p{
		clear:left;
		}	

		
